################################################
# This file needs to be kept in sync with runbooks/alertmanager/alertmanager.yml.erb
# It's a temporary state until all config is moved over to the other file, see: https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues/7071
################################################
global:
  slack_api_url: "<%= @conf['slack']['api_url'] %>"

receivers:
################################################
# Pagerduty
################################################
<% %w(prod_pagerduty non_prod_pagerduty slo_dr slo_gprd_cny slo_gprd_main slo_non_prod).each do |pagerduty| %>
<% if @conf[pagerduty] %>
- name: <%= pagerduty %>
  pagerduty_configs:
  - client: GitLab Alertmanager
    client_url: '{{ template "slack.link" . }}'
    description: '{{ template "slack.title" . }}'
    details:
      note: '{{ template "slack.text" . }}'
    send_resolved: true
    service_key: "<%= @conf[pagerduty]['service_key'] %>"
<% end %>
<% end %>

################################################
# Slack Channels
################################################
<% node['alertmanager']['slack']['channels'].each do |receiver, channel| %>
- name: "<%= receiver %>"
  slack_configs:
  - channel: "<%= channel %>"
    send_resolved: true
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'
<% end %>

# This is temporary while https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues/4881 is ongoing
- name: slack_alerts_general
  slack_configs:
  - channel: '#alerts-gen-svc-test'
    icon_emoji: '{{ template "slack.icon" . }}'
    send_resolved: true
    text: '{{ template "slack.debug" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'

################################################
# WebHooks
################################################
<% if @conf['snitch']['api_key'] -%>
- name: dead_mans_snitch
  webhook_configs:
  - send_resolved: false
    url: "https://nosnch.in/<%= @conf['snitch']['api_key'] %>"
<% end -%>
<% if @conf['snitch']['env'] -%>
<% @conf['snitch']['env'].each do |env, key| -%>
- name: dead_mans_snitch_<%= env %>
  webhook_configs:
  - send_resolved: false
    url: "https://nosnch.in/<%= key %>"
<% end -%>
<% end -%>
<% if @conf['slack_bridge'] && @conf['slack_bridge']['webhook_url'] %>
- name: slack_bridge
  webhook_configs:
  - http_config:
      bearer_token: "<%= @conf['slack_bridge']['bearer_token'] %>"
    send_resolved: true
    url: "<%= @conf['slack_bridge']['webhook_url'] %>"
<% end %>
<% if @conf['issues'] -%>
<% @conf['issues'].each do |project, token| -%>
- name: "issue:<%= project %>"
  webhook_configs:
  - http_config:
      bearer_token: "<%= token %>"
    send_resolved: true
    url: "https://<%= project %>/prometheus/alerts/notify.json"
<% end -%>
<% end -%>

route:
  # Route most alerts to the main alerts channel in slack
  group_by:
  - env
  - tier
  - type
  - alertname
  - stage
  receiver: main_alerts_channel
  repeat_interval: 8h

  routes:
<% if @conf['snitch']['env'] -%>
  ################################################
  # Send heartbeats to Dead Man's Snitch per env.
  ################################################
<% @conf['snitch']['env'].each do |env, key| -%>
  - continue: false
    group_interval: 5m
    group_wait: 1m
    match:
      alertname: SnitchHeartBeat
      env: <%= env %>
    receiver: dead_mans_snitch_<%= env %>
    repeat_interval: 5m

<% end -%>
<% end -%>
<% if @conf['snitch']['api_key'] -%>
  ################################################
  # Send heartbeats to Dead Man's Snitch.
  ################################################
  - continue: false
    group_interval: 5m
    group_wait: 1m
    match:
      alertname: SnitchHeartBeat
    receiver: dead_mans_snitch
    repeat_interval: 5m

<% end -%>
  ################################################
  # General Alerts
  # Treat these specially until https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues/4881 is complete
  ################################################
<% if @conf['slack_bridge'] && @conf['slack_bridge']['webhook_url'] %>
  - continue: true
    group_by:
    - env
    - tier
    - type
    - alertname
    - stage
    match:
      rules_domain: general
    receiver: slack_bridge
<% end %>

  - continue: false
    group_by:
    - env
    - tier
    - type
    - alertname
    - stage
    match:
      rules_domain: general
      pager: ""
    receiver: slack_alerts_general

  - continue: true
    group_by:
    - env
    - tier
    - type
    - alertname
    - stage
    match:
      rules_domain: general
      pager: pagerduty
    receiver: slack_alerts_general

  ################################################
  # Team Alerts
  # Route certain alerts directly to teams
  ################################################
<% node['alertmanager']['gitlab-teams'].each do |team| -%>
  - continue: true
    group_by:
    - env
    - alertname
    - instance
    - job
    - stage
    match:
      channel: <%= team %>
    receiver: <%= team %>_alerts_channel
    routes:
    # Warnings do not fallthrough
    - match:
        severity: warn
      receiver: <%= team %>_low_priority_alerts_channel
      continue: false
    # Errors do not fallthrough
    - match:
        severity: error
      receiver: <%= team %>_alerts_channel
      continue: false

<% end %>

<% if @conf['issues'] -%>
  ################################################
  # Issue routes: GitLab issues
  ################################################
  - continue: true
    group_by:
    - env
    - alertname
    - stage
    group_interval: 1h
    group_wait: 10m
    match:
      pager: issue
    repeat_interval: 3d
    routes:
<% @conf['issues'].each do |project, token| -%>
      - match:
          project: '<%= project %>'
        receiver: 'issue:<%= project %>'
<% end -%>

<% end -%>
  ################################################
  # Endgate routes: pagerduty and slack
  ################################################
  # Pagerduty alerts go to #production and pagerduty
  # NOTE: Make sure this is the second last matcher
  - continue: false
    match:
      pager: pagerduty
    routes:
    <% if node['alertmanager']['non_critical_pagerduty_environments'].any? %>
    - continue: false
      group_by:
      - env
      - alertname
      - stage
      match_re:
        env: <%= node['alertmanager']['non_critical_pagerduty_environments'].join('|') %>
      receiver: non_prod_pagerduty
    <% end %>
    - continue: false
      match:
        slo_alert: yes
        env: dr
      receiver: slo_dr
    - continue: true
      match:
        slo_alert: yes
        env: gprd
        stage: cny
      receiver: slo_gprd_cny
    - continue: true
      match:
        slo_alert: yes
        env: gprd
        stage: main
      receiver: slo_gprd_main
    - continue: false
      group_by:
      - env
      - tier
      - type
      - alertname
      - stage
      match:
        slo_alert: yes
      receiver: pager_alerts_channel
    - continue: false
      match:
        slo_alert: yes
      receiver: slo_non_prod
    - continue: true
      group_by:
      - env
      - alertname
      - stage
      receiver: prod_pagerduty
    - continue: true
      group_by:
      - env
      - tier
      - type
      - alertname
      - stage
      receiver: pager_alerts_channel

  # Everything else goes to #alerts
  # NOTE: Make sure this is the last matcher
  - continue: false
    group_by:
    - env
    - tier
    - type
    - alertname
    - stage
    receiver: main_alerts_channel

templates:
- "<%= node["alertmanager"]["templates"]["dir"] %>/*.tmpl"
