#!/bin/sh

exec 2>&1
export GOMAXPROCS=<%= node["cpu"]["total"] %>
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= node["alertmanager"]["binary"] %> \
<% node["alertmanager"]["peers"].each do |peer| -%>
  --cluster.peer='<%= peer %>:9094' \
<% end -%>
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "alertmanager") %>
